body {
  font-family: "Montserrat", sans-serif;
  background-color: #00020E;
}

/* ----------------------------------список меню------------------------- */
.container {
  display: flex;
  flex-direction: row;
  column-gap: 44px;
  margin: 51px 43px 0 43px;
}

.menu__list {
  z-index: 2;
  width: 73px;
  height: 984px;
  border-radius: 22px;
  /* background-color: rgba(9, 13, 25, 0.43); */
  background-color: rgb(4, 100, 68);
}

.ul__item-list {
  margin-left: 21px;
  row-gap: 39px;
  display: flex;
  flex-direction: column;
}


.logo__img {
  margin-top: 15px;
  margin-bottom: 19px;
  margin-left: -14px;
  display: block;
  border-radius: 15px;
  width: 57px;
  height: 55px;
}

.statistic__img {
  width: 23px;
  margin-left: 2px;
}

.users__img {
  margin-left: -5px;
  /* width: 32px; */
  height: 40px;
}

.deposite__img {
  margin-top: -11px;
  margin-left: -9px;
  width: 47px;
  /* height: 31px; */
}

.maney__img {
  width: 43px;
  margin-left: -5px;
  margin-top: -15px;
}

.disount__img {
  width: 32px;
  margin-left: -1px;
  margin-top: -7px;
}

.support__img {
  width: 38px;
  margin-left: -3px;

}

.settings__img {
  width: 53px;
  margin-left: -10px;
  margin-top: -12px;
}

/* ------------------------список поддержки -------------------- */

.supports {}

.support__box {
  overflow: scroll;
  overflow-x: hidden;
  padding: 25px 33px 0 33px;
  width: 426px;
  height: 700px;
  border-radius: 22px;
  background-color: rgba(9, 13, 25, 1);
  /* background-color: blue; */
}

.support__box::-webkit-scrollbar {
  width: 6px;
}

.support__box::-webkit-scrollbar-track {
  background: rgba(14, 19, 35, 1);
  margin-top: 120px;
  margin-bottom: 20px;
  border-radius: 20px;
}

.support__box::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: rgba(31, 37, 55, 0.55);
}

.support__title {
  margin-bottom: 17px;
  font-weight: 800;
  font-size: 25px;
  color: white;
}

.box__title {
  position: relative;
}

.actives {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
}

.support__input {
  color: white;
  padding-left: 18px;
  width: 359px;
  height: 40px;
  border-radius: 18px;
  background-color: rgba(21, 29, 51, 1);
}

.line__from-supports {
  width: 299px;
  margin: 16px 0 30px 25px;
}

.li__support-item {
  margin-bottom: 11px;
  position: relative;
  padding-top: 15px;
  padding-left: 38px;
  width: 359px;
  height: 55px;
  border-radius: 18px;
  background-color: rgba(68, 78, 104, 0.37);
}

.li__support-item::before {
  position: absolute;
  top: 20px;
  left: 12px;
  content: url(img/psevdoelement/online-active.svg);
}

.li__support-item::after {
  position: absolute;
  width: 23px;
  height: 23px;
  top: 12px;
  right: 109px;
  content: url(img/imgFromChat/actives-noties.svg);
}

.support__contry {
  position: absolute;
  top: 12px;
  left: 180px;
}
.AM {
  color: white;
  position: absolute;
  top: 18px;
  left: 205px;
  font-size: 8px;
}

.support__status {
  color: rgba(207, 214, 255, 0.59);
  font-size: 8px;
  position: absolute;
  top: 5px;
  right: 14px;
}

.new__massage {
  position: absolute;
  border-radius: 7px;
  background: linear-gradient(#5993FF, #613EFF);
  bottom: 9px;
  right: 27px;
  width: 23px;
  height: 16px;
}

.clip {
  position: absolute;
  bottom: 5px;
  right: 10px;
}

.clip__img {
  width: 20px;
  height: 20px;
}

.support__mail {
  margin-bottom: 3px;
  font-size: 13px;
  color: white;
}

.support__name {
  font-size: 9px;
  color: rgba(131, 137, 168, 1);
}

/* -----------------------------------форма чата------------------------- */

.chat__box {
  padding: 25px 31px;
  position: relative;
  width: 896px;
  height: 800px;
  /* background-color: rgb(27, 67, 186); */
  background-color: rgba(9, 13, 25, 1);
  border-radius: 43px;
}


.chat__info-box {
  margin-bottom: 28px;
  width: 830px;
  height: 55px;
  border-radius: 18px;
  background-color: rgba(68, 78, 104, 0.37);
}

.line__from-chat {
  margin-left: -32px;
  margin-bottom: 74px;
}

.chat__input {
  padding-left: 19px;
  position: absolute;
  bottom: 20px;
  left: 31px;
  width: 830px;
  height: 40px;
  border-radius: 18px;
  background-color: rgba(21, 29, 51, 1);
}

.chat__user-one {
  color: white;
  float: left;
}

.chat__user-two {
  color: white;
  float: right;
}

/* --------------------------------------------------------- */


.presets__menu {
  position: relative;
  padding: 32px 0 0 31px;
  width: 308px;
  height: 1000px;
  border-radius: 22px;
  background-color: rgba(9, 13, 25, 1);
  /* background-color: green; */
}

.img__settings {
  position: absolute;
  top: 15px;
  right: 23px;
}

.img__presets-settings {
  width: 50px;
  height: 50px;
}

.presets__title {
  color: white;
  margin-bottom: 50px;
  font-size: 20px;
  font-weight: 700;
}

.presets__line {
  margin-bottom: 24px;
}

.li__presets-item {
  margin-bottom: 11px;
  display: flex;
  align-items: center;
  padding: 0 0 0 17px;
  width: 243px;
  min-height: 40px;
  color: white;
  font-size: 13px;
  font-weight: 500;
  background-color: rgba(14, 19, 35, 1);
  border-radius: 18px;
}